#===============================================
# Description: ARMv8 Package
# File name: armv8-package.yml
# Lisence: MIT
# Author: VERY20101
# code manily from https://github.com/haiibo
#===============================================

name: pack_newK
on:
  workflow_dispatch:
  schedule:
    - cron: 30 8 */20 * *
  watch:
    types: started

env:
  REPO_URL: https://github.com/immortalwrt/immortalwrt
  REPO_BRANCH: master
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai

jobs:
  Package:
    runs-on: ubuntu-22.04
    if: github.event.repository.owner.id == github.event.sender.id || ! github.event.sender.id
    name: Package for ${{ matrix.version }}
    strategy:
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization Environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        #docker rmi $(docker images -q)
        set -- $(docker images -f dangling=true -q)
        [ "$#" -eq 0 ] || docker rmi "$@"
        sudo rm -rf /usr/share/dotnet /etc/apt/sources.list.d /usr/local/lib/android $AGENT_TOOLSDIRECTORY
        sudo swapoff -a && sudo rm -f /swapfile /mnt/swapfile
        sudo -E apt-get -y purge azure-cli ghc* zulu* llvm* firefox google* dotnet* powershell openjdk* mongodb* moby* || true
        sudo -E apt-get -y update
        sudo -E apt-get -y install $(curl -fsSL https://raw.githubusercontent.com/very20101/Openwrt_retry/refs/heads/main/refs/ubuntu2204-update)
        sudo apt-get install -y libncursesw6
        sudo -E systemctl daemon-reload
        sudo -E apt-get -y autoremove --purge
        sudo -E apt-get -y clean 
        sudo -E apt-get -y autoclean
        sudo timedatectl set-timezone "$TZ" 

    - name: Download Armsr(Armvirt) Firmware
      id: download
      run: |
        FIRMWARE_PATH=openwrt/bin/targets/armsr/64
        [ -d $FIRMWARE_PATH ] || mkdir -p $FIRMWARE_PATH
        #FIRMWARE_URL=$(curl -s "https://api.github.com/repos/$GITHUB_REPOSITORY/releases" | grep -o "ROOTFS_$VERSION.*rootfs.tar.gz")
        #FIRMWARE_URL=$(curl -s "https://api.github.com/repos/$GITHUB_REPOSITORY/releases/download/OpenWrt-NewK" | grep -o "ROOTFS_$VERSION.*rootfs.tar.gz")
        wget -q -P $FIRMWARE_PATH https://github.com/very20101/openwrt_N1-Nova/releases/download/Immortalwrt_Amlogic_N1_01.20.1057/openwrt-armsr-armv8-generic-rootfs.tar.gz 
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Package Armvirt as OpenWrt
      if: steps.download.outputs.status == 'success'
      uses: ophub/flippy-openwrt-actions@main
      env: 
        OPENWRT_ARMVIRT: openwrt/bin/targets/*/*/*rootfs.tar.gz
        PACKAGE_SOC: s905d
        WHOAMI: very20101
        KERNEL_VERSION_NAME: 5.15.y_6.1.y_6.6.y_6.12.y
        KERNEL_AUTO_LATEST: true
        DISTRIB_REVISION: R${{ env.DATE1 }} by very20101

    - name: Upload OpenWrt To Artifact
      if: env.PACKAGED_STATUS == 'success' && env.UPLOAD_RELEASE != 'true'
      uses: kittaakos/upload-artifact-as-is@master
      with:
        path: ${{ env.PACKAGED_OUTPUTPATH }}

    - name: Upload OpenWrt To Release
      if: env.PACKAGED_STATUS == 'success' && env.UPLOAD_RELEASE == 'true'
      uses: ncipollo/release-action@v1
      with:
        name: R${{ env.DATE }} for ARMV8-OPENWRT${{ env.VERSION }}
        allowUpdates: true
        removeArtifacts: true
        tag:  ARMV8-OPENWRT${{ env.VERSION }}
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: ${{ env.PACKAGED_OUTPUTPATH }}/*
        body: |
          **This is OpenWrt Firmware for Armsr(Armvirt) 64**
          * ${{ env.EXPLAIN }}
          默认 IP：192.168.1.200 默认密码：password
          ${{ env.VERSION_INFO }}
